
.principal {
    background-image: url("./../media/theatre.png");
    background-size: cover;
    width:100%;
    height:100%;
    padding-bottom: 10%;
}

.firstcolor {
    background-color:#F50057;
    width: 100%;
    padding: 10% 0%;
}

.second-color {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(49, 214, 255);
    padding-bottom: 5%;
}
.third-color{
    background-color: #e7288e;
    height: 100%;
    width: 100%;
    position: relative;
}

.four-color{
    background-color: rgb(250, 245, 245);
    height: 100%;
    width: 100%;
    position: relative;
}


.blanche-button {
    color: #e8288e;
    text-shadow: 5px 5px 10px #e8288e;
}

.tupper{
    padding-top: 8%;
}
.top {
    margin-top: 2%;
}

.topper{
    padding-top: 5%;
}

.topp{
    padding-top: 2.5%;
}

.title-Service {
    font-family: 'Lobster', cursive;
    color: rgb(247, 51, 158);
    text-align: center;
}

.navbar-button{
    background:rgba(128, 128, 128, 0.1);
    color: white!important;
    margin: 3px;
    border-radius: 3px;
    text-align: center
}

.custom-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: red;
    border: 1px solid;
    border-radius: .25rem;
}

.navbar-button:hover{
    background-color: #e7288e;
    color: white;
}

.blanche-img{
    width: 65%;
    margin-top: 6rem;
}

.mago-img {
    width: 29%;
    margin-top: 5rem;
}

/*TipoGrafias*/
font-family: 'Slabo 27px', serif;
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;
/*contenedor de imagene, carousel */
.border-box {
    border: 10px solid;
    box-shadow: 5px 10px #e00606;
}

/*Parrafo de Quien soy?*/
.text-color {
    font-family: 'Slabo', serif;
    color:black;
    font-size: 20px;
}

/*titulo QuienSoy?*/
.title-prop {
    font-family: 'Lobster', cursive;
    color: #e7288e;
    font-size: 35px;
}
.title-quiensoy {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 35px;
}

/*fondo del container principal de la pag quien soy?*/
.background {
    background: rgba(255, 4, 159, 0.3);
}

.bottom{
    padding-bottom: 5%;
}



/*FOOTER*/
.footer {
    color: white;
    background: rgba(30, 30, 31, 0.8);
    padding: 3% 0%;
}

.margin-2-0 {
    margin: 2% 0%;
}

.size-show {
    height:580px;
    width:352px;
}

.top-container.top.social-button spam {
    overflow:none;

}

/*botï¿½n up*/
.boton-subir {
    display: none;
    background: #e7288e;
    border: thin solid #fff;
    border-radius: 20px;
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 10;
}
    /*evento hover*/
    .boton-subir:hover {
        box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.75);
    }
    /*estilos para el tag i*/
    .boton-subir i {
        color: #fff;
        font-size: 1.5em;
        padding: 10px 10px 10px 7px;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
    }

    .social-color{
        color: white;
    }