body {
    background-image: url("./../media/theatre.png");
    width: 100%;
    height: 100%;
    background-size: 100%;
}

/*TipoGrafias*/
font-family: 'Slabo 27px', serif;
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;

/*contenedor de imagene, carousel */
.border-box{
    border: 10px solid;
    box-shadow: 5px 10px #e00606;
}

/*Parrafo de Quien soy?*/
.text-color{
    font-family: 'Slabo', serif;
    color: white;
    font-size: 20px;
}

/*titulo QuienSoy?*/
.title-prop{
    font-family: 'Lobster', cursive;
    color:rgb(247, 51, 158);
    font-size: 35px;
}

/*Barra de navegacion*/
.navbar-background {
    background-color: transparent;
}

.navbar-button{
    background:rgba(128, 128, 128, 0.5);
    color: white;
    margin: 5px;
}

.navbar-button:hover{
    background-color: #e7288e;
    color: white;
}

/*Top*/
.top-container{
    position: absolute;
    top: 15%;
}
 /*fondo del container principal de la pag quien soy?*/
.background{
    background: rgba(5, 72, 255, 0.3);
    border: 3px solid;
    box-shadow: 5px 1px #e91a8c;
}