body {
    
    width: 100%;
    height: 100%;
    background-size: 100%;
}

/*TipoGrafias*/
font-family: 'Slabo 27px', serif;
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;

/*contenedor de imagene, carousel */
.border-box{
    border: 10px solid;
    box-shadow: 5px 10px #e00606;
}

/*Parrafo de Quien soy?*/
.text-color{
    font-family: 'Slabo', serif;
    color: black;
    font-size: 20px;
}

/*titulo QuienSoy?*/
.title-prop{
    font-family: 'Lobster', cursive;
    color:rgb(247, 51, 158);
    font-size: 35px;
}

.title-Service{
    font-family: 'Lobster', cursive;
    color:rgb(247, 51, 158);
    text-align: center;
}

/*Barra de navegacion*/
.navbar-background {
    background-color: transparent;
}

.navbar-button{
    background:rgba(128, 128, 128, 0.5);
    color: white;
    margin: 5px;
}

.navbar-button:hover{
    background-color: #e7288e;
    color: white;
}

/*Top*/
.top-container{
    margin-top: 3%;
}
.top{
    margin-top: 2%;
}

 /*fondo del container principal de la pag quien soy?*/
.background{
    background: rgba(5, 72, 255, 0.4);
    border: 3px solid;
    box-shadow: 5px 1px #e91a8c;
}

/*FOOTER*/
.footer{
    color: white;
    background: rgba(30, 30, 31, 0.8);
    margin-top: auto;
    margin-bottom: auto;
}

.container-fluid{
    width: 102% !important;
    margin-bottom: 3%;
}

.btn-social{
    background-color: #0d0d0e;
    color: white;   
}
.center{
    margin-top: auto;
    margin-bottom: auto;
}

/*SHOW*/
.size-show{
    height: 580px;
    width: 482px;
}

.top-container .top .social-button span{
    overflow: none;
}